<meta
        charset="utf-8"
/>


<meta
        content="width=device-width, initial-scale=1.0"
        name="viewport"
/>

<script>
    document.documentElement.className =
      document.documentElement.className.replace(
        /\bno-js\b/g,
        ""
      ) +
      " js ";
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XQPQCD736L"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-XQPQCD736L');
</script>

<a class="site-title" href="{{ site.baseurl }}/">
    {% if site.logo %}
    <img class="site-logo" src="/assets/logo.png">


    <!-- For all browsers -->
    <link
            href="{{ '/assets/css/main.css' | relative_url }}"
            rel="stylesheet"
    />

    <link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
    <link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="/site.webmanifest" rel="manifest">
    <link color="#5bbad5" href="/safari-pinned-tab.svg" rel="mask-icon">
    <meta content="#da532c" name="msapplication-TileColor">
    <meta content="#ffffff" name="theme-color">


    {%
    if
    site.head_scripts
    %}
    {%
    for
    script
    in
    site.head_scripts
    %}
    {%
    if
    script
    contains
    "://"
    %}
    {%
    capture
    script_path
    %}{{
    script
    }}{%
    endcapture
    %}
    {%
    else
    %}
    {%
    capture
    script_path
    %}{{
    script
    |
    relative_url
    }}{%
    endcapture
    %}
    {%
    endif
    %}
    <script src="{{ script_path }}"></script>
    {%
    endfor
    %}
    {%
    endif
    %}