<meta
  charset="utf-8"
/>



<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0"
/>

<script>
  document.documentElement.className =
    document.documentElement.className.replace(
      /\bno-js\b/g,
      ""
    ) +
    " js ";
</script>

<a class="site-title" href="{{ site.baseurl }}/">
  {% if site.logo %}
    <img src="/assets/logo.png" class="site-logo" >


<!-- For all browsers -->

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">


{%
    if
    site.head_scripts
    %}
    {%
    for
    script
    in
    site.head_scripts
    %}
    {%
    if
    script
    contains
    "://"
    %}
    {%
    capture
    script_path
    %}{{
    script
    }}{%
    endcapture
    %}
    {%
    else
    %}
    {%
    capture
    script_path
    %}{{
    script
    |
    relative_url
    }}{%
    endcapture
    %}
    {%
    endif
    %}
    <script src="{{ script_path }}"></script>
    {%
    endfor
    %}
    {%
    endif
    %}